<launch>

    <master auto="start"/>
      <param name="/use_sim_time" value="true"/>
      <node pkg="stage_ros" type="stageros" name="stageros" args="$(find flocking)/worlds/stage.world" respawn="false">
    <!--   <node pkg="stage_ros" type="stageros" name="stageros" args="$(find stage_ros)/world/willow-erratic.world" respawn="false"> -->
        <param name="base_watchdog_timeout" value="0.2"/>
      </node>

    <group ns="robot_0">
        <remap from="/cmd_vel" to="/robot_0/cmd_vel"/>
        <param name="robot_count" value="3" />
        <param name="robot_index" value="0" />
        <node pkg="flocking" type="flocker" name="flocker" output="screen" />
    </group>

    <group ns="robot_1">
        <remap from="/cmd_vel" to="/robot_1/cmd_vel"/>
        <param name="robot_count" value="3" />
        <param name="robot_index" value="1" />
        <node pkg="flocking" type="flocker" name="flocker" output="screen" />
    </group>

     <group ns="robot_2">
        <remap from="/cmd_vel" to="/robot_2/cmd_vel"/>
        <param name="robot_count" value="3" />
        <param name="robot_index" value="2" />
        <node pkg="flocking" type="flocker" name="flocker" output="screen" />
    </group>

</launch>
